/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 0) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

nav {
  position: relative;
  width: auto;
  height: 100%;
  background-image: url("../img/eagle.png");
  background-size: cover;
  background-position: center center;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

nav .wrapper .logo {
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

@media (min-width: 0) and (max-width: 1024px) {
  nav .wrapper .logo {
    margin-left: 50px;
  }
}

nav .wrapper .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-top: 60px;
}

nav .wrapper .navlinks li {
  list-style: none;
}

nav .wrapper .navlinks li a {
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav .wrapper .navlinks {
    width: 70%;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  nav .wrapper .navlinks {
    position: absolute;
    z-index: 1000;
    right: 0;
    height: 50vh;
    top: 4vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .wrapper .navlinks.nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

nav .wrapper .burger {
  display: none;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 10vh;
}

nav .wrapper .burger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

@media (min-width: 0) and (max-width: 768px) {
  nav .wrapper .burger {
    display: block;
  }
}

.element {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
}

.element h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: white;
  text-align: center;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .element h1 {
    font-size: 35px;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .element h1 {
    font-size: 25px;
  }
}

.element h2 {
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media (min-width: 0) and (max-width: 1000px) {
  .element h2 {
    font-size: 75px;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .element h2 {
    font-size: 35px;
  }
}

.element .button {
  text-align: center;
  color: white;
  padding: 20px;
  border: solid white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.story {
  margin-top: 100px;
}

.story .wrapper h1 {
  margin-top: 90px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  text-align: center;
}

.story .wrapper h2 {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.story .wrapper p {
  margin-top: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  color: grey;
}

.story .layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 105px;
}

.story .layer .container {
  position: relative;
  margin-bottom: 50px;
  font-size: 0;
  max-height: 260px;
  max-width: 390px;
  margin-right: 15px;
  margin-left: 15px;
}

.story .layer .image {
  display: block;
  max-height: 260px;
  max-width: 390px;
}

.story .layer .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f48d81), to(#fbe389));
  background-image: linear-gradient(#f48d81, #fbe389);
}

.story .layer .container:hover .overlay {
  opacity: 0.8;
  -webkit-box-shadow: 10px 10px 5px 0px #95e1d3;
          box-shadow: 10px 10px 5px 0px #95e1d3;
}

.story .layer .text {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.story .layer .text:before {
  content: url("../img/USERS.png");
}

.bluebar {
  width: 100%;
  height: 270px;
  background-color: #95e1d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bluebar .container {
  text-align: center;
  border: 1px solid white;
  height: 100%;
  width: 240px;
  position: relative;
}

.bluebar .container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 0) and (max-width: 768px) {
  .bluebar .container h1 {
    font-size: 30px;
  }
}

.bluebar .container p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
}

@media (min-width: 0) and (max-width: 768px) {
  .bluebar .container p {
    font-size: 10px;
  }
}

.services .wrapper h1 {
  margin-top: 90px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  text-align: center;
}

.services .wrapper h2 {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.services .wrapper .boxes {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.services .wrapper .boxes .container {
  max-width: 30%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px 10px 10px;
}

.services .wrapper .boxes .container img {
  width: 35px;
  height: 35px;
}

.services .wrapper .boxes .container .text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.services .wrapper .boxes .container .text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: gray;
  margin-left: 20px;
}
