/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.background {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f48d81), to(#fbe389));
  background-image: linear-gradient(#f48d81, #fbe389);
  max-width: 1777px;
  max-height: 1000px;
  height: 100%;
}

.background .eagle {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 30%;
}

.background .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background .wrapper .logo {
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

.background .wrapper ul {
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
}

.background .wrapper ul li {
  margin-right: 56px;
  margin-top: 50px;
}

.background .wrapper .imagens div {
  margin-top: 50px;
  margin-left: 35px;
  float: left;
  margin-right: 5px;
}

.background .wrapper .imagens div .img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
