.amazingservices{

	.wrapper{


		h1{
			margin-top: 90px;
			font-family: $secondary-font;
			font-size: 24px;
			text-align: center;
		}
		h2{
			margin-top: 25px;
			font-family: $primary-font;
			font-weight: bold;
			font-size: 30px;
			text-align: center;

		}

		.rectangle{
			margin-left: auto;
			margin-right: auto;
			display: flex;
			margin-top: 45px;
			margin-bottom: 45px;
			justify-content: center;
		}   

		.boxes{
			margin-top: 110px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			width: 100%;


			.container{
				max-width: 30%;
				height: 150px;
				display: flex;
				align-items: center;
				margin: 10px 10px 10px 10px;
				//background-color: brown;
				
				img{
					width: 35px;
					height: 35px;
				}

				.text{
					margin-left: 20px;
					h3{
						font-family: $primary-font;
						font-size: 14px;
						color: black;
						margin-bottom: 20px;						
					}

					h4{
						font-family: $tertiary-font;
						font-size: 15px;
						color: gray;	
												
					}
				}
			}

		}
	}

}