.background{
	position: relative;
	width: auto;
	height: 100%;
	margin: auto;
	background-image: url("../img/eagle.png");
	background-size: cover;
	background-position: center center;
	
	.wrapper{
		display: flex;
		justify-content: space-between;
		
		.logo{
			z-index:2;
			font-family: $primary-font;
			font-size: 30px;
			font-weight: bold;
			color: white;
			margin-top: 40px;
		}

		#myLinks{
			
			display: flex;
			a{	
				z-index:2;
				text-decoration: none;
				color: white;
				font-family: $primary-font;
				font-size: 16px;
				margin-right: 30px;
				margin-top: 50px;
			}

			@include mq(0, 1000px) {
				display: none;
			}
		}

		.hmenu{
			display: none;
			margin-top: 45px;
			div {
				width: 35px;
				height: 5px;
				background-color: white;
				margin: 6px 0;
			}
			@include mq(0, 1000px) {
				display: block;
				margin-right: 45px;
			}
		}
		
		.images{
			z-index:2;
			div{
				margin-top: 50px;
				margin-left: 35px;
				float:left;
				margin-right:5px;

				.img{
					
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
				
			}
			@include mq(0, 1000px) {
				display: none;
			}

		}

	}

	.element{
		position: absolute;
		left: 50%;
  		transform: translate(-50%, -50%);
		top: 50%;
		text-align: center;
		
		h1{
			font-family: $secondary-font;
			font-size: 72px;
			color: white;
			text-align: center;
			@include mq(0, 1000px) {
				font-size: 35px;
			}
		}

		h2{
			margin-top: 55px;
			margin-bottom: 55px;
			font-family: $primary-font;
			font-size: 150px;
			font-weight: bold;
			color: white;
			text-align: center;
			@include mq(0, 1000px) {
				font-size: 75px;
			}
		}
		

		.button{
			text-align: center;
			color: white;
			padding: 20px;
			border: solid white;
			font-family: $primary-font;
			font-size: 14px;
			font-weight: bold;
			
		}

	}
}

