body{
	@include mq(0, 768px) {
		overflow-x: hidden;
	}
}

nav{
	position: relative;
	width: auto;
	height: 100%;
	background-image: url("../img/eagle.png");
	background-size: cover;
	background-position: center center;
		
	.wrapper{
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 8vh;

		.logo{
			z-index:2;
			font-family: $primary-font;
			font-size: 30px;
			font-weight: bold;
			color: white;
			margin-top: 40px;
			@include mq(0, 1024px) {
				margin-left: 50px;
			}
		}

		.navlinks{
			display: flex;
			justify-content: space-between;
			width: 50%;
			margin-top: 60px;
			
			li{
				list-style: none;
				a{
					color: white;
					font-family: $primary-font;				
				}
			}
			@include mq(769px, 1024px) {
				width: 70%;
				
			}
			@include mq(0, 768px) {
				position: absolute;
				z-index: 1000;
				right: 0;
				height: 50vh;
				top: 4vh;
				flex-direction: column;
				align-items: center;
				width: 20%;
				transform: translateX(100%);
				transition: transform 0.5s ease-in;
				&.nav-active{
					transform: translateX(0%) ;
				}
			}			
		}
		
		.burger{
			display: none;
			cursor: pointer;
			margin-top: 45px;
			margin-left: 10vh;

			div{
				width: 35px;
				height: 5px;
				background-color: white;
				margin: 6px 0;
			}
			@include mq(0, 768px) {
				display: block;
				
			}
		}

	}	
}


.element{
	position: absolute;
	left: 50%;
  	transform: translate(-50%, -50%);
	top: 50%;
	text-align: center;
		
	h1{
		font-family: $secondary-font;
		font-size: 72px;
		color: white;
		text-align: center;
		@include mq(500px, 1000px) {
			font-size: 35px;
		}
		@include mq(0, 500px) {
			font-size: 25px;
		}
	}

	h2{
		margin-top: 55px;
		margin-bottom: 55px;
		font-family: $primary-font;
		font-size: 150px;
		font-weight: bold;
		color: white;
		text-align: center;
		@include mq(0, 1000px) {
			font-size: 75px;
			
		}
		@include mq(0, 500px) {
			font-size: 35px;
			
		}
	}
		
	.button{
		text-align: center;
		color: white;
		padding: 20px;
		border: solid white;
		font-family: $primary-font;
		font-size: 14px;
		font-weight: bold;		
	}	
}
