.background{
	position: relative;
	width: auto;
	height: 100%;
	margin: auto;
	
	.eagle{
		position: absolute;
		max-width: 1920px;
		max-height: 1000px;
		width: auto;
		height: 100%;
		left: 50%;
  		transform: translate(-50%, 0%);
		
	}
	
	.wrapper{
		display: flex;
		justify-content: space-between;
		background-color: red;
		
		.logo{
			z-index:2;
			font-family: $primary-font;
			font-size: 30px;
			font-weight: bold;
			color: white;
			margin-top: 40px;
		}

		ul{
			margin-left: 200px;
			display: flex;
			z-index:2;
			font-family: $primary-font;
			font-size: 16px;
			color: white;
			li{
				margin-right: 56px;
				margin-top: 50px;
			}
		}
		
		.imagens{
			z-index:2;
			div{
				margin-top: 50px;
				margin-left: 35px;
				float:left;
				margin-right:5px;

				.img{
					
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
				
			}

		}

	}
}

