.service{
	margin-bottom: 100px;
    
    
	h1{
		
		font-family: $secondary-font;
		font-size: 24px;
		text-align: center;
			
	}
		
	h2{
		margin-top: 25px;
		font-family: $primary-font;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
    }

    .rectangle{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 45px;
        margin-bottom: 45px;
        justify-content: center;
    }   

    .wrapper{
        margin-bottom: 100px;
        p{
            font-size: 15px;
            font-family: $tertiary-font;
            text-align: center;
            color: grey;
            
        }

    }

    .section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img{
            max-width: 100%;
            margin-left: 100px;
            margin-right: 100px;

            @include mq(0, 1280px) {
				margin-left: auto;
                margin-right: auto;
                //margin-top: 100px;
			}
        }
        
        #accordion{
            width: 600px;      

            h3{
                font-family: $primary-font;
                font-size: 14px;
                background-color: white;
                color:black;
            }

            h3::before{
                content: url("../img/PICTURE.png");
            }

            p{
                font-family: $tertiary-font;
                font-size: 15px;
                font-style: italic;
                color: grey;
            }

            @include mq(0, 1280px) {
				margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
			}
        }
    }
}